.home {
  color: if((true), red, yellow);
  margin-top: 0px;
  width: 950px;
  margin: auto;
  background-color: #cccccc;
}
.heroPic {
  height: 400px;
  width: 950px;
}
.body {
  margin-top: 0px;
  display: flex;
  text-align: center;
}

.calPic, .timerPic {
  margin: 10px 120px;
  width: 250px;
  padding: 50px;
}

.textCenter {
  text-align: center;
  margin: 0 auto;
}